

<% width = "width:193px" %> <!-- todo: make it % of table size -->
<% text_width = "width:179px" %>
<%= form_tag(:action => :events) do %>
	<table class="filter_table">
		<tr id="row1">
			<td><%= text_field_tag(:name, @event_filter.name, :style => text_width, :placeholder => "search by event name") %></td>
			<td><%= text_field_tag(:location, @event_filter.location, :style => text_width, :placeholder => "search by location") %></td>
			<td><%= select_tag(:with_friends, options_for_select(["include all events","with friends attending"], @event_filter.with_friends), :style => width) %></td>
		</tr>
		<tr id="row2">
			<td><%= select_tag(:gender, options_for_select([['participant of any gender', 'any'],'female', "male"], @users_filter.gender), :style => width) %></td>		
			<td><%= select_tag(:relationship_status, options_for_select([['any relationship status','any'],['single', "Single"],['single or unspecified', "single or unspecified"],['in a relationship', "In a Relationship"],['engaged', "Engaged"],['married', "Married"]], @users_filter.relationship_status), :style => width) %></td>
			<td><%= text_field_tag(:participant_name, @event_filter.participant_name, :style => text_width, :placeholder => "search by participant name") %></td>
		</tr>
		<tr>
			<td><%= submit_tag("search", :class => 'btn btn-primary', :style => width) %></td>
			<td></td>
			<td class="btn btn-primary" id="post_to_facebook" style="width: 168px;" onclick='postEventsToFeed(); return false'>post results to feed</td>			
		</tr>			
	</table>
<% end %>
