<%= form_tag(:action => :index) do %>
	<div class="field">
		<%= label_tag(:min_age,"min age:") %> <!-- only reads 2 digets-->
		<%= number_field_tag(:min_age, @filter.min_age,:in => 16...99) %>
	</div>
	<div class="field">
		<%= label_tag(:max_age,"max age:") %>
		<%= number_field_tag(:max_age, @filter.max_age, :in => 16...99) %>
	</div>
	<div class="field">
		<%= radio_button_tag(:gender, "female") %>
		<%= label_tag(:gender, "female") %>
		<%= radio_button_tag(:gender, "male") %>
		<%= label_tag(:gender, "male") %>
		<%= radio_button_tag(:gender, "any") %>
		<%= label_tag(:gender, "any") %>
	</div>
	<div class="actions">
		<%= submit_tag("search") %>
	</div>
<% end %>
