<%= form_tag(:action => :index) do %>
	<table>
		<tr>
			<td><%= label_tag(:min_age,"min age:") %></td>
			<td><%= label_tag(:max_age,"max age:") %></td>
		</tr>
			<td><%= number_field_tag(:min_age, @filter.min_age,:in => 16...99, :class => "btn btn-info dropdown-toggle") %></td>
			<td><%= number_field_tag(:max_age, @filter.max_age,:in => 16...99) %></td>
		</tr>		
		<tr>		
			<td><%= label_tag(:gender, "gender:") %></td>
			<td><%= label_tag(:relationship_status, "relationship status:") %></td>
		</tr>
		<tr>		
			<td><%= select_tag(:gender, options_for_select(['any','female', "male"], @filter.gender)) %></td>
			<td><%= select_tag(:relationship_status, options_for_select(['any',['single', "Single"],['engaged', "Engaged"]], @filter.relationship_status)) %></td>
		</tr>
	</table>



	<div class="actions">
		<%= submit_tag("search") %>
	</div>
<% end %>
