<%= render 'event_search' %>
<% unless @events.blank? %>    
    <table id="event_table" class="table" data-events="<%= @events.to_json %>" data-oauth_token="<%= @current_user.oauth_token %>"></table>
    <script>
		load_event_table();
		FB.init({appId: "360161967331340", status: true, cookie: true});
	</script>
<% end %> 

	
	XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
<table>
	<tbody>
		<% @events.each do |event| %>
			<% begin %>
			<tr>
				<td>
					<%= event[0].name %>
				</td>
				<td>
					<%= event[1] %>
				</td>			
				<td>
					<%= event[2][0][0].name %> <!-- [2] for event users, [0] for the first user, [0] for his info  -->
				</td>			
			</tr>
			<% rescue %>
			<% end %>
		<% end %>
	</tbody>
</table>






