<% if @current_user %>
	<%= render 'search' %>
	<img id="mypic" src="https://graph.facebook.com/<%= @current_user['id'] %>/picture?type=normal" alt="profile picture">
	<div id="Welcome"> Welcome, <strong><%= @current_user['name'] %></strong></div>
	<% unless @matches.blank? %>
		<table id="matches" class="table">		
			<% [@matches.count, 5].min.times do |n| %>
			<!-- <div id = "prophile_box">-->
			<tr>
			<td class="face_td" rowspan="2" style="padding: 0px; max-height: 120px;"><%= picture_link(@matches[n][0],"120")%></td>
			<td>Name</td>												
				<% 3.times do |k| %>
					<td class="like_td" style="padding: 0px; max-height: 40px;"><%= picture_link(@matches[n][1][1][k],"60")%></td>
				<% end %>
			</tr>
			<tr>
				<td>Info</td>
				<% 3.times do |k| %>
					<td class="like_td" style="padding: 0px; max-height: 40px;><%= picture_link(@matches[n][1][1][k+3],"60")%></td>
				<% end %>
			</tr>						
					<!--</div><br />-->
				<% end %>						
		</table>
	<% end %>
<% else %>
<!-- todo: something like welcome to my app please sign in -->
<% end %>