<% if @current_user %>
	<%= render 'search' %>
	<!-- 
	<img id="mypic" src="https://graph.facebook.com/<%= @current_user['id'] %>/picture?type=normal" alt="profile picture">
	<div id="Welcome"> Welcome in, <strong><%= @current_user['name'] %>. <p id="notice"><%= notice %></p></strong></div>
	-->
	<p id="notice"><%= notice %></p>

	<% unless @matches.blank? %>
    <!-- <p><a onclick='postToFeed(); return false;'>Post to Feed</a></p><p id='msg'></p> -->
    
    
	<table id="matche_table" class="table" data-matches="<%= @matches.to_json %>"></table>			

	<script>
		load_table();
		FB.init({appId: "360161967331340", status: true, cookie: true});
	</script>
    
    
    

    
    <!-- placeholders -->

    <script>
    
    //alert("fff");
    //var bbb = document.getElementById('gender').value = null;
    //$("#gender").select2({
    //            placeholder: "fsw"
     //       });
    //var aaa = document.getElementById('min_age').value = "kk";
    //alert(aaa);
    </script>
	<% end %>
<% else %>
<!-- todo: something like welcome to my app please sign in -->
<% end %>