<% if @current_user %>
	<table>
		<tr>
			<td>
				<img src="https://graph.facebook.com/<%= @current_user['uid'] %>/picture?type=normal" alt="profile picture">
				Welcome, <strong><%= @current_user['name'] %></strong>
			</td>					
		</tr>
		<tr>
			<td>
				<!-- <%= @user_graph.get_connections("584663600", "likes").first %><br /> 
				<%= @user_graph.get_connections("403087", "likes") %><br />
				<%= @user_graph.get_connections("584663600", "friends") %>
				<% matches = @current_user.find_best_match %>
				<% 2.times do |n| %> 
				<br /><%= matches[n][0] %>
				<img src="https://graph.facebook.com/<%= matches[n][0] %>/picture?type=normal" alt="profile picture">
				<% end %>-->
				<%= @current_user.my_type_score_with(@current_user, "likes") %>
			</td>					
		</tr>		
	</table>

<% else %>
welcome to my app please sign in
<% end %>