<% if @current_user %>
	<%= render 'search' %>
	<img id="mypic" src="https://graph.facebook.com/<%= @current_user['id'] %>/picture?type=normal" alt="profile picture">
	<div id="Welcome"> Welcome, <strong><%= @current_user['name'] %></strong></div>
	<% unless @matches.blank? %>
		<%= javascript_tag do %>
  			window.matches = '<%= j @matches.to_json %>';
		<% end %>
		<table id="matche_table" class="table" data-matches="<%= @matches.to_json %>">		
			<% [@matches.count, 5].min.times do |n| %>
			<!-- <div id = "prophile_box">-->
			<tr>
			<td class="face_td" rowspan="2" style="padding: 0px; max-height: 120px;"><%= picture_link(@matches[n][0].id,"120")%></td>
			<td><%= name_link(@matches[n][0]) %><%= print_stats(@matches[n][0]) %></td>												
				<% 3.times do |k| %>
					<td class="like_td" style="padding: 0px; max-height: 40px;"><%= picture_link(@matches[n][1][k],"60") unless @matches[n][1][k+3].blank? %></td>
				<% end %>
			</tr>
			<tr>
				<td><div class="text_div" style="height: 60px;"><%= @matches[n][0].quotes %></div></td>
				<% 3.times do |k| %>
					<td class="like_td" style="padding: 0px; max-height: 40px;"><%= picture_link(@matches[n][1][k+3],"60") unless @matches[n][1][k+3].blank? %></td>
				<% end %>
			</tr>						
					<!--</div><br />-->
				<% end %>						
		</table>
	<% end %>
<% else %>
<!-- todo: something like welcome to my app please sign in -->
<% end %>