<% if @current_user %>
	<table >
		<tr>
			<td>
				<img src="https://graph.facebook.com/<%= @current_user['uid'] %>/picture?type=normal" alt="profile picture">
				Welcome, <strong><%= @current_user['name'] %></strong>
			</td>					
		</tr>

		<% 5.times do |n| %>
		<!-- <div id = "prophile_box">-->
		<tr bgcolor="grey">
		<td rowspan="2"><%= picture_link(@matches[n][0],"80")%></td>												
			<% 3.times do |k| %>
				<td><%= picture_link(@matches[n][1][1][k],"40")%></td>
			<% end %>
		</tr>
		<tr>
			<% 3.times do |k| %>
				<td><%= picture_link(@matches[n][1][1][k+3],"40")%></td>
			<% end %>
		</tr>						
				<!--</div><br />-->
			<% end %>						
	</table>

<% else %>
welcome to my app please sign in
<% end %>