<!DOCTYPE html>
<html>
<head>
  <title>Likeme</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="shortcut icon" href="http://oi44.tinypic.com/1py0c3.jpg"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag  'application' %>
  <%= csrf_meta_tags %>
  <script src='http://connect.facebook.net/en_US/all.js'></script>

</head>
<body class="body_color">
<a href="/" id="fake"></a> <!--todo: WTF the first link never works no matter what it is -->



<!--
	<div id="user_nav">
	  <% if current_user %>
	    Signed in as <strong><%= current_user.name %></strong>!
	    <%= link_to "Sign out", signout_path, id: "sign_out" %>
	  <% else %>
	    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
	  <% end %>
	</div>
--
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#" style="width: 10%">Like Me</a>
        <div class="nav-collapse">
          <ul class="nav pull-right" style="width: 85%">
          	<% if current_user %>
            	<li class="nav pull-right"><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            	<li class="nav pull-right"><div style="padding: 10px 15px 10px;"><%= "Not " + current_user.name + "?" %></div></li>
            <% else %>
            	<li class="nav pull-right"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
-->

  <div style="height: 10px"></div>

<div class="main_div" id="main_div" style="width:630px;margin: 0 auto;">
	
      	
      	
<div>
    <div class="navbar navbar-static-top">
        <div class="navbar-inner" style="padding-left: 35px; border-radius: 20px;">
            <ul class="nav" style="width: 550px; height: 40px; overflow: hidden;">
	          	<% if current_user %>
	            	<li><a href=<%= home_index_path %> >people</a></li>
	            	<li><a href=<%= events_path %> >events</a></li>
	            	<li><a href=<%= pages_path(:search_for => "movies") %> >movies</a></li>
	            	<li><a href=<%= pages_path(:search_for => "books") %> >books</a></li>
	            	<li><a href=<%= pages_path(:search_for => "television") %> >television</a></li>
	            	<li><a href=<%= pages_path(:search_for => "games") %> >games</a></li>
	           <!-- <li><a href=<%= pages_path(:search_for => "activities") %> >activities</a></li> -->
	          		<li class="nav pull-right"><iframe class="fb-like" src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FLikeme%2F311627115638339&amp;width=450&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=360161967331340" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe></li>
	            	
	            	<!--<li><a href=<%= pages_path(:search_for => "interests") %> >interests</a></li> -->
	            	<!-- <li class="nav pull-right"><div style="padding: 10px 10px 10px 0px;"><%= "Welcome " + current_user.name %></div></li>-->
	            <% else %>
	            	<li class="nav pull-right"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
	            <% end %>
            </ul>
        </div>
    </div>
</div>
      	
      	
      	<%= yield %>
      </div>

</body>
</html>
